[alias]
	lol = log --graph --decorate --oneline --all
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status --short --branch
	d = diff --stat
	dn = diff --name-status
	ds = diff --stat
	l = log --graph --decorate --oneline --all
	s = status --short --branch

[color]
	ui = true
[user]
	name = Patrick Cao Huu Thien
	email = patrick.cao_huu_thien@upmc.fr
